<a href="https://colab.research.google.com/github/muhammadghazyy/Tensorflow-Projects/blob/main/mnist_tensorflow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
import sklearn.preprocessing

from google.colab import files

In [ ]:
files.upload()
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json
!kaggle competitions download -c digit-recognizer
!unzip test.csv.zip
!unzip train.csv.zip

In [97]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [98]:
test.tail()

       pixel0  pixel1  pixel2  pixel3  ...  pixel780  pixel781  pixel782  pixel783
27995       0       0       0       0  ...         0         0         0         0
27996       0       0       0       0  ...         0         0         0         0
27997       0       0       0       0  ...         0         0         0         0
27998       0       0       0       0  ...         0         0         0         0
27999       0       0       0       0  ...         0         0         0         0

[5 rows x 784 columns]

In [20]:
label = train['label']
train.drop('label',inplace=True,axis=1)

In [27]:
label_bin = sklearn.preprocessing.LabelBinarizer()
labels = label_bin.fit_transform(label)
labels

array([[0, 1, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 1]])

In [58]:
#Hyperparameters

num_classes = len(labels[0])
img_size = (28,28,1)
epoch = 25
batch_size = 32

In [41]:
#Dividing into Train and Validation sets

xtrain = train[:int(0.8*len(train['pixel0']))]
xtrainlab = labels[:int(0.8*len(train['pixel0']))]
xval = train[int(0.8*len(train['pixel0'])):]
xvallab = labels[int(0.8*len(train['pixel0'])):]

In [44]:
#Nornmalizing the pixels

xtrain = xtrain/255.0
xval = xval/255.0

Model building using keras

In [62]:
model = tf.keras.Sequential([
                             tf.keras.layers.Dense(256),
                             tf.keras.layers.Dropout(0.2),
                             tf.keras.layers.Dense(num_classes,activation='softmax')
])
model.compile(loss ='categorical_crossentropy',optimizer = 'Adam',metrics = ['acc'])

In [63]:
history = model.fit(xtrain,xtrainlab, validation_data=(xval,xvallab),epochs=10,batch_size=32)

Epoch 1/10
1050/1050 [==============================] - 4s 4ms/step - loss: 0.4010 - acc: 0.8824 - val_loss: 0.3196 - val_acc: 0.9076
Epoch 2/10
1050/1050 [==============================] - 4s 3ms/step - loss: 0.3190 - acc: 0.9083 - val_loss: 0.3085 - val_acc: 0.9124
Epoch 3/10
1050/1050 [==============================] - 4s 3ms/step - loss: 0.3050 - acc: 0.9126 - val_loss: 0.2966 - val_acc: 0.9185
Epoch 4/10
1050/1050 [==============================] - 4s 4ms/step - loss: 0.2947 - acc: 0.9154 - val_loss: 0.3074 - val_acc: 0.9131
Epoch 5/10
1050/1050 [==============================] - 4s 4ms/step - loss: 0.2857 - acc: 0.9172 - val_loss: 0.2896 - val_acc: 0.9206
Epoch 6/10
1050/1050 [==============================] - 4s 3ms/step - loss: 0.2855 - acc: 0.9179 - val_loss: 0.2927 - val_acc: 0.9156
Epoch 7/10
1050/1050 [==============================] - 4s 4ms/step - loss: 0.2810 - acc: 0.9195 - val_loss: 0.3497 - val_acc: 0.9017
Epoch 8/10
1050/1050 [==============================] - 4s 3ms/step - loss: 0.2765 - acc: 0.9211 - val_loss: 0.3217 - val_acc: 0.9121
Epoch 9/10
1050/1050 [==============================] - 4s 4ms/step - loss: 0.2730 - acc: 0.9200 - val_loss: 0.2983 - val_acc: 0.9193
Epoch 10/10
1050/1050 [==============================] - 4s 4ms/step - loss: 0.2685 - acc: 0.9229 - val_loss: 0.3053 - val_acc: 0.9131

In [65]:
test1 = test.copy()/255.0

In [ ]:
#Model prediction
ans = model.predict(test1)

In [ ]:
final = [np.argmax(an) for an in ans]

In [102]:
sub = pd.DataFrame({
    'ImageId':range(1,28001),
    'Label':final
})
sub

       ImageId  Label
0            1      2
1            2      0
2            3      9
3            4      7
4            5      3
...        ...    ...
27995    27996      9
27996    27997      7
27997    27998      3
27998    27999      9
27999    28000      2

[28000 rows x 2 columns]

Submitting into kaggle

In [100]:
sub.to_csv('submission.csv',index=False)
!kaggle competitions submit -c digit-recognizer -f submission.csv -m "First try"

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
100% 208k/208k [00:01<00:00, 124kB/s]
Successfully submitted to Digit Recognizer